.container-cat {
  background-color: aqua;
  height: 100vh;
}

.teste-c {
  height: 100vh;
}

#form-c{
  background-color: #289781a9;
  padding: 30px;
  border-radius: 40px ;
}
#form-c {
  background-color: #289781a9;
  padding: 30px;
  border-radius: 40px ;
}

.titulo-c{
  color: #1d1c1c !important;
}