.teste-c {
  min-height: 85.6vh;
  background-image: url(https://i.imgur.com/cMW2q7v.jpg);
  background-color: #EDEDEA;
  background-size: 150vh;
  background-repeat: no-repeat;
  background-position: center;
}

.bordaCadastro{
  padding-top: 18.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form-c {
  background-color: #ededeacc;
  width: 18.3%;
  padding: 30px;
  border-radius: 4% ;
}

.titulo-c{
  color: #1d1c1c !important;
}

.alinharCentro{
  display: flex;
  justify-content: center;
  padding-top: 3vh;
}

.finalizar{
  background-color: #2A4737 !important;
  color: #EDEDEA !important;
}