.text-decorator-none{
    text-decoration: none;
}

/* Botões Atualizar e deletar */

.deletar-c{
    background-color: #dd1515 !important;
}
.deletar-c:hover{
    background-color: #ff0000 !important;
}

.atualizar-c{
    color: white !important;
    background-color: #00b30f !important;
}
.atualizar-c:hover{
    color: white;
    background-color: #053B03 !important;
}

/* ---- ---- ----*/

.nomeCategoria{
    color: #ffffff !important;
    font-size: 28px !important;
    text-align: center;
}


.cardCategoria{
    box-shadow: 10px 10px #000000;
    background:linear-gradient(180deg, green, #053B03);
}

.container-card{
    height: 250px;
}

/* Alinhando linhas */
.linha{
    display: flex;
    flex-wrap: wrap;
}

.linhas{
    margin-right: 10px;
}

/* Categoria - titulo */
.categoria-t{
    text-align: center;
    margin-right: 30px;
}

.linha-t{
    display: flex;
    justify-content: center;
}

/* Botão Nova Categoria */
.p{
    font-size: 18px;
    padding: 10px;
    border-radius: 40px;
    background-color: #053B03;
    color: aliceblue;
}

/* Altura da Linha */

.altura-l{
    min-height: 76.4vh;
}

.nova-c{
    text-decoration: none !important;
}

.just-center{
    justify-content: center;
}

/* Atributos */

.atributo{
    color: rgba(255, 255, 255, 0.942);
    margin-top: 20px;
    margin-bottom: 0px;
}

.atributoPergunta{
    color: rgba(255, 255, 255, 0.876);
}

.diminuirAltura{
    height: 30px;
}

.p-botton{
    padding-bottom: 20px;
}

/* MArgin */

.margin{
    margin-left: 7vw;
    margin-right: 7vw;
}


