
.textos1{
    font-weight: bold !important;
 }

 .body{
    background-image: url(https://i.imgur.com/C8LxUN6.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
 }
 
 .text-decorator-none{
     text-decoration: none;
 }

 .button{
    border-color: white !important;
    background-color: #ffffff !important;
    color: white !important;
}

.button:hover{
    background-color: #3a3a3a!important;
}

.formulario{
    background-color: #ffffffc5;
    border-radius: 50px;
}

.botaoLogar{
    font-size: 17px !important;
    color: #ffffff !important;
    background-color: #e633ff !important;
}
.botaoLogar:hover{
    background-color: #34b99f !important;
}

.branco{
    color: rgb(0, 0, 0) !important;
}


/* Mudando cores padrão do MUI Material */

.MuiOutlinedInput-notchedOutline{
    border: 1.5px solid #3a3a3a !important;
}

label {
    color: #3a3a3a !important;
}

.boxSocialMedia{
    padding:15px;
}