.titulo{
    color: white !important;
    font-weight: bold !important;
}

.imagens{
    width: 800px;
    height: 500px;
    /* Centralizando imagem */
    display: block;
    margin: 0 auto;
}

.caixaH{
    background: grey;
}

.botao{
    border-color: white !important;
    background-color: #1c1c1c !important;
    color: white !important;
}

.botao:hover{
    background-color: #3a3a3a!important;
}
.postagens{
    background-color: white;
}


.gridCard{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: aliceblue;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2vh;
}

.cardH{
    border: 5px solid black;
    width: 20%;
    height: 40vh;
    background-color: rgb(110, 110, 110);
}