.titulo{
    color: white !important;
    font-weight: bold !important;
}


.tamanhoHome{
    padding-top: 10vh;
}

.LogoHome{
    padding-right: 5vw;
    display: flex;
    justify-content: center;
}

.caixaH{
    background-color: #34b99f;
}

.botao{
    border-color: white !important;
    background-color: #1c1c1c !important;
    color: white !important;
}

.botao:hover{
    background-color: #3a3a3a!important;
}
.postagens{
    background-color: white;
}


.gridCard{
    padding-top: 25vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.cardH{
    border: 5px solid black;
    width: 18vw;
    height: 40vh;
    background-color: rgb(110, 110, 110);
}

/* Cards Responsivos */
@media screen and (max-width: 600px){
    .gridCard{
        flex-direction: column;
        align-items: center;
        
    }
    .cardH{
        min-width: 60vw;
        min-height: 40vh;
        margin-top: 10px;
    }
}
