.footer{
    background-color: #03301b;
    min-height: 7vh;
}

.textos{
    text-align: center;
    color: #ffffff;
    margin-bottom: 0vh !important;
}

.links{
    text-decoration: none;
    color: #ffffff;
}

.links:hover{
    color: #bfb9c0;
}