.footer{
    background-color: #289781;
    height: 7vh;
}

.textos{
    text-align: center;
    color: #ffffff
}

.links{
    text-decoration: none;
    color: #ffffff;
}

.links:hover{
    color: #e633ff;
}