.color-dark{
    background-color: #202020;
    justify-content: space-between;
}

.text-decoration-none{
    text-decoration: none;
}

.cursor{
    cursor: pointer;
    color: white;
}

.container{
    display: flex;
    justify-content: space-between;
}

/* responsive-navbar */

@media screen and (max-width: 600px) {
    .card-nav{
        flex-direction: column;
        padding: 5px;
    }
}