.header{
    box-shadow: none!important;
}

.logo-navbar{
    height: 5vh;
    margin-top: 1vh;
}

.card-nav{
    background-color: #34b99f;
    justify-content: space-between;
}

.links{
    text-decoration: none;
}

.navegar{
    font-family: 'Heebo', sans-serif;
}

.navegar:hover{
    color: #e633ff;
}

.cursor{
    cursor: pointer;
    color: white;
}

.container{
    display: flex;
    justify-content: space-between;
}

/* responsive-navbar */

@media screen and (max-width: 600px) {
    .card-nav{
        flex-direction: column;
        padding: 5px;
    }
}