.textos2{
    font-weight: bold !important;
}

.backGround{
    background-image: url(https://s2.glbimg.com/zO0uI5mfMeZDAmCzFxbhoJnHZ18=/smart/e.glbimg.com/og/ed/f/original/2022/02/10/plantas-ornamentais-sala12.jpg);
    min-height: 93vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.p-40{
    padding: 7vh;
}

.formulario2{
    background-color: #ffffffc5;
    border-radius: 3%;
}

.containerForms{
    display: flex;
    flex-direction: column;
}

.botaoCU{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
/*
.botaoCadastrar{
    font-size: 17px !important;
    color: #ffffff !important;
    background-color: #E000FF !important;
}

.btnCancelar{
    margin-right: 20px !important;
    background-color: rgb(183, 255, 244) !important;
    color: black !important;
    border: none !important;

}
*/
.botaoCadastrar:hover{
    background-color: #0DFB77 !important;
}