.textos2{
    font-weight: bold !important;
    font-family: 'Delmon Delicate', sans-serif !important;
}

.backGround{
    background-image: url(https://s2.glbimg.com/zO0uI5mfMeZDAmCzFxbhoJnHZ18=/smart/e.glbimg.com/og/ed/f/original/2022/02/10/plantas-ornamentais-sala12.jpg);
    min-height: 93vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Delmon Delicate', sans-serif !important;
}

.p-40{
    padding: 7vh;
}

.formulario2{
    background-color: #ffffffc5;
    border-radius: 3%;
}

.containerForms{
    display: flex;
    flex-direction: column;
}

.botaoCU{
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}

.btnCancelar{
    width: 48%;
    background-color: #8C0345 !important;
}

.testoB{
    color: aliceblue !important;
}


.btnCadastrar{
    width: 48%;
    background-color: #053B03 !important;
}